@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: pacifico;
    src: url(Pacifico-Regular.ttf);
}

@font-face {
    font-family: boldo;
    src: url(Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
}

#cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    transition: all linear 0.1s;
    z-index: 99;
}

#nav {
    width: 100vw;
    height: 80px;
    /* border-bottom: 2px solid grey; */
    background-color: white;
    position: fixed;
    top: 0%;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.left-nav h1 {
    font-family: pacifico;
    font-size: 2.5vw;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.right-nav a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}


/* *************************************frame 1 component************************************* */

#frame1 {
    width: 100vw;
    min-height: 100vh;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landing {
    width: 100vw;
    height: 50vh;
    /* background-color: blue; */
    position: absolute;
    top: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing2 {
    width: 100vw;
    height: 30vh;
    /* background-color: red; */
    margin-top: 450px;
    position: relative;
}

#landing2 h1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-family: boldo;
    position: absolute;
    left: 10%;
}

#landing2 h2 {
    font-size: 5vw;
    text-transform: uppercase;
    font-family: boldo;
    position: absolute;
    top: 40%;
    left: 50%;
}

#landing3 {
    width: 40%;
    height: 100vh;
    /* background-color: red; */
    border-radius: 20px;
}

#landing3 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.elem {
    height: 50vh;
    width: 20vw;
    /* background-color: red;
    border: 2px solid black; */
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.elem img {
    /* display: none; */
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    position: absolute;
    scale: 0;
    opacity: 0;
    /* top: 0; */
    left: 0;
    z-index: -1;
}

.elem h1 {
    font-family: boldo;
    font-size: 5vw;
    font-weight: bold;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color: white;
    mix-blend-mode: difference;
}


/* .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(red, rgba(0, 0, 0, 0), blue, alpha);
    position: absolute;
} */


/***********************************************************************************************/

#frame2 {
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

.edu h1 {
    margin-top: 3vw;
    font-size: 5vw;
    margin-left: 3vw;
    color: white;
    font-family: boldo;
    text-transform: uppercase;
    position: relative;
    -webkit-text-stroke: 2px black;
}

.edu h1::before {
    content: "";
    position: absolute;
    height: 0.5vw;
    width: 0;
    background-color: black;
    top: 80%;
    transition: 0.3s;
}

.edu h1:hover::before {
    width: 27vw;
}

.conten {
    height: 80vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.boxx {
    height: 20%;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid grey;
}


/************************************************************************************************/

#frame3 {
    height: 130vh;
    width: 100vw;
    /* background-color: blue; */
    position: relative;
    overflow: hidden;
}


/************************************************************************************************/

#frame4 {
    height: 100vh;
    width: 100vw;
}


/*=========================================responsive========================================= */

@media (max-width:600px) {
    #nav {
        padding: 0px 20px;
    }
    .left-nav h1 {
        font-size: 4vw;
    }
    #landing {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .elem {
        height: 30vh;
        width: 30vw;
    }
    .elem h1 {
        font-size: 6vw;
    }
    #landing2 {
        height: 15vh;
        margin-top: 300px;
    }
    #landing2 h1 {
        font-size: 6vw;
        left: 5%;
    }
    #landing2 h2 {
        font-size: 6vw;
        top: 40%;
    }
}